.container{
    max-width: 500px;
    height: 400px;
    background-color: rgb(242, 73, 47);
    color:antiquewhite;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.btngroup{
    display: flex;
    gap:60px;
}

.time{
    font-size: 3rem;
}
h3{
    font-size: 2.4rem;
    padding-top: 20px;
}
button{
    width: 100px;
    padding:13px;
    color:antiquewhite;
background-color: rgb(239, 33, 33);
border: none;
cursor: pointer
;
margin: 5px;
margin-top: 20px;
margin-bottom: 20px;
font-size: 1.2rem;
border-radius: 10px;
}
.center{
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 60px;
}
button:hover{
    background-color: rgb(253, 225, 225);
    color: rgb(237, 36, 36);
}
button[disabled] {
    opacity: 0.5;
    cursor: default;
  }